*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    border: 2px solid red;
    height: 110vh;
    width: 100%;
    
}
.nav{
    border: 5px solid green; 
    height: 10vh;
   
}
.product{
    border-style:solid;
  border-color:rgb(0, 47, 255);
  height:150vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 20px;
}
.first{
    border-style:solid;
    border-color:orange;
    height:45vh;
    width:25%;
    top: 20px;
  
  }
  .second-banner{
    border-style:solid;
    border-color:rgb(255, 0, 200);
    height: 70vh;
   
  }
  .second-product{
    border-style:solid;
    border-color:rgb(179, 255, 0);
    height: 110vh;
   
  }
  .footer{
    border: 5px solid rgb(243, 27, 27);
    height: 55vh;
    width: 100%;
    top: 20px;
  }