*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    border: 2px solid red;
    height: 110vh;
    width: 100%;
    
}
 .nav{
    border: 5px solid green; 
    height: 10vh;
    width: 95%;
    top:20%;
}
.product{
    border-style:solid;
  border-color:rgb(0, 47, 255);
  height:250vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* position:absolute; */
  padding: 0 100px;

  
}
.first{
    border-style:solid;
    border-color:orange;
    height:62vh;
    width: 48%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto;
    
   
  
  }
  .dan{
    border-style:solid;
    border-color:orange;
    height:62vh;
    width:90%;
  }
  .second-banner{
    border-style:solid;
    border-color:rgb(255, 0, 200);
    height: 78vh;
   
  }
  .second-product{
    border-style:solid;
    border-color:rgb(179, 255, 0);
    height: 450vh;

   
  }
  .footer{
    border: 5px solid rgb(243, 27, 27);
    height: 55vh;
    width: 100%;
    top: 20px;
  }

  nav {
  background-color: #2602f4;
  width: 55%;
  top: 50%;
  left: 100px;
}

ul {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000;

}

p {
   color: antiquewhite;
   font-weight: bold;
   font-size: 15px;
   
}