*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

 }
.container{
    border: 2px solid red;
    height: 98vh;
    width: 100%;
    
} 

 .nav {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  background-color: #12074d; 
   width: 95%;
  margin: 0 auto;
  border: 5px solid green;
  height: 10vh;
}
.product{
    border-style:solid;
  border-color:rgb(0, 47, 255);
  height:250vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 100px; 
 }

.first{
    border-style:solid;
    border-color:orange;
    height:62vh;
    width: 48%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto;
    
   
  
  }
  .dan{
    border-style:solid;
    border-color:orange;
    height:62vh;
    width:110%;
  }
  .second-banner{
    border-style:solid;
    border-color:rgb(255, 0, 200);
    height: 78vh;
   
  }
  .second-product {
    border-style:solid;
    border-color:rgb(179, 255, 0);
    height: 250vh;
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 100px;
 
   padding: 5px; 
  gap: 40px;   
  }

   
  

  .footer{
    background-color: #1A2456;
    box-sizing: border-box;
    color: #EFC2B3;
    text-align: left;

  }

  .second{
    border-style:solid;
    border-color:orange;
    height:62vh;
    width: 70wh;
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .footer{
    border: 5px solid rgb(243, 27, 27);
    height: 55vh;
    width: 100%;
    top: 20px;
  } 

  svg {
     font-size: 10px;
     color: #EFC2B3;
  }

  nav {
  background-color: #1A2456;
  width: 100%;
  left: 100px;
  height: 99%;
  /* display: flex; */
  /* flex-wrap: nowrap; */
}

ul {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  display: flex;
  
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: #EFC2B3;
  text-align: right;
  padding: 14px ;
  text-decoration: none;
  box-sizing: border-box;
}

ul li a:hover {
  background-color:#1A2456;

} 

p {
   color: #EFC2B3;
   font-weight: bold;
   font-size: 15px;
   /* display: flex; */
   /* justify-content: left; */
/* 5ng: border-box; */
   /* justify-content: space-between; */

   
}

.toes {
  background-image: url(./images/Main\ banner.jpg);
  border: 2px solid red;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.go {
 background-image: url(./images/OIP.webp);
 height: 100%;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.fot {
  display: flex;
  position: relative;


}

.france {
  position: absolute;
  top: 40%;
  left: 25%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #EFC2B3;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  line-height: 1.5%;
}

.goes {
  position: absolute;
  left: 40%;
   color:#12074d;
   letter-spacing: 4px;
}
